img {  
    object-fit: cover;
}  

.divPizza {
    margin:12px;
}
.card-body {
    padding-bottom: 6px;
    padding-top: 15px;
}

.text-pizza {
    margin-bottom: 6px;
}

.prix {
    padding-top: 0.2em;
}