<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Pizza Web</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/connexion'" *ngIf="!estConnecte"> Connexion </a>
        <a mat-button [routerLink]="'/inscription'" *ngIf="!estConnecte"> Inscription </a>
        <a mat-button href class="nav-link" (click)="deconnexion()" *ngIf="estConnecte">Déconnexion</a>
        <a mat-button [routerLink]="'/profil'" *ngIf="estConnecte">Profil</a>
        <a mat-button [routerLink]="'/panier'" *ngIf="estConnecte"> Mon panier </a>
        <a mat-button [routerLink]="'/pizzas'"> La carte </a>
        <a mat-button [routerLink]="'/contacts'"> Contacts </a>
        <a mat-button [routerLink]="'/suiviCommande'" *ngIf="estConnecte"> Suivre ma commande </a>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span style="font-size: 12px;">Photo non contractuelles</span>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<div class="container">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
