<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Pizza Web</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/'"> Connexion </a>
        <a mat-button [routerLink]="'/'"> Commander </a>
        <a mat-button [routerLink]="'/'"> La carte </a>
        <a mat-button [routerLink]="'/'"> Nos promotions </a>
        <a mat-button [routerLink]="'/'"> Contacts </a>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span style="font-size: 12px;">Photo non contractuelles</span>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<div>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  </mat-drawer-container>  
</div>

<app-affiche-pizzas></app-affiche-pizzas>

<app-footer></app-footer>


