<div class="row">
    <div class="card col-md-6 offset-md-3 pt-3">
        <img
            id="profile-img"
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
            class="rounded-circle mx-auto col-md-3"
        />
        <div class="card-body">
            <h5 class="card-title">Connexion</h5>
            <form
                *ngIf="!estConnecte"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate
            >
                <div class="form-group">
                    <label for="mail">Mail</label>
                    <input
                        type="email"
                        class="form-control"
                        name="mail"
                        [(ngModel)]="form.mail"
                        required
                        email
                        #mail="ngModel"
                    />
                    <div class="alert alert-danger" *ngIf="mail.errors && f.submitted">
                        <div *ngIf="mail.errors.required">Le mail est nécessaire !</div>
                        <div *ngIf="mail.errors.email">
                            Le mail doit être valide !
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input
                        type="password"
                        class="form-control"
                        name="password"
                        [(ngModel)]="form.password"
                        required
                        minlength="6"
                        #password="ngModel"
                    />
                    <div
                        class="alert alert-danger"
                        role="alert"
                        *ngIf="password.errors && f.submitted"
                    >
                        <div *ngIf="password.errors.required">Le mot de passe est nécessaire !</div>
                        <div *ngIf="password.errors.minlength">
                        Le mot de passe doit faire au moins 6 caractères !
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Connexion
                    </button>
                </div>
                <div class="form-group">
                    <div
                        class="alert alert-danger"
                        role="alert"
                        *ngIf="f.submitted && connectionRate"
                    >
                        Connexion raté : {{ messageErreur }}
                    </div>
                </div>
            </form>
    
            <div class="alert alert-success" *ngIf="estConnecte">
                Connexion réussie.
            </div>
        </div>
    </div>
</div>