
<!--


<div *ngIf="pizza$ | async ">
    <p>affiche-pizzas works!</p>
    <ul>
       
        <li *ngFor="let pizza of (pizza$ | async)?.piz_list">
            <p>affiche-pizzas works!</p>
            <div *ngIf="pizza">
                <p > pizzalio</p>
            </div>
           <span>{{pizza | json}}</span> 
        </li> 
    </ul>
</div>
-->

<ul>
    <li *ngFor="let pizza of pizza$ | async ">{{pizza.piz_nom}}
        <div>lien a utiliser {{pizza.piz_image}}
           <img [src]="pizza.image | async">
        </div>
    </li>
</ul>

<div class="item" *ngIf="pizzaCount">
    <p> {{pizzaCount}} </p>
</div>
